UE2/lab2/src/main/webapp/.idea/.name
UE2/lab2/src/main/webapp/.idea/encodings.xml
UE2/lab2/src/main/webapp/.idea/misc.xml
UE2/lab2/src/main/webapp/.idea/modules.xml
UE2/lab2/src/main/webapp/.idea/vcs.xml
UE2/lab2/src/main/webapp/.idea/webapp.iml
UE2/lab2/src/main/webapp/.idea/workspace.xml
UE2/lab2/src/main/webapp/.idea/scopes/scope_settings.xml
*.class
