@(users : List[models.Register])

@main("List of Users"){
   <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            @for(user <- users) {
                <tr style="height: 10px">
                    <td>@user.getUsername()</td>
                    <td>@user.getPassword()</td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="@routes.Application.register()">Register</a>