@(game : models.Game, qidForm : play.data.Form[models.Quiz])
@import helper._


<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Jeopardy! - @Messages("jeopardy.questionSelection")</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/screen.css")" />
        <script src="@routes.Assets.at("javascripts/jQuery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
   </head>
   <body id="selection-page">
      <a class="accessibility" href="#question-selection">@Messages("jeopardy.jumpToQuestionSelection")</a>
      <!-- Header -->
      <header role="banner" aria-labelledby="bannerheading">
         <h1 id="bannerheading">
            <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
         </h1>
      </header>
      
      <!-- Navigation -->
		<nav role="navigation" aria-labelledby="navheading">
			<h2 id="navheading" class="accessibility">Navigation</h2>
			<ul>
				<li><a class="orangelink navigationlink" id="logoutlink" title="Klicke hier um dich abzumelden" href="@routes.Application.login()" accesskey="l">@Messages("question.logout")</a></li>
			</ul>
		</nav>
      
      <!-- Content -->
      <div role="main"> 
         <!-- info -->
         <section id="gameinfo" aria-labelledby="gameinfoinfoheading">
            <h2 id="gameinfoinfoheading" class="accessibility">@Messages("jeopardy.gameInformation")</h2>
            <section id="firstplayer" class="playerinfo leader" aria-labelledby="firstplayerheading">
               <h3 id="firstplayerheading" class="accessibility">@Messages("jeopardy.leadingPlayer")</h3>
               <img class="avatar" src="/assets/images/avatar/@game.getGame().getHuman().getAvatar().getImageHead()" alt="@Messages("jeopardy.player")-Avatar @game.getGame().getHuman().getAvatar()" />
               <table>
                  <tr>
                     <th class="accessibility">@Messages("jeopardy.playerName")</th>
                     <td class="playername">@game.getGame().getHuman().getAvatar().getName() (@Messages("jeopardy.you")) </td>
                  </tr>
                  <tr>
                     <th class="accessibility">@Messages("jeopardy.playerPoints")</th>
                     <td class="playerpoints">@game.getGame().getHumanPlayer().getProfit() €</td>
                  </tr>
               </table>
            </section>
            <section id="secondplayer" class="playerinfo" aria-labelledby="secondplayerheading">
               <h3 id="secondplayerheading" class="accessibility">@Messages("jeopardy.secondPlayer")</h3>
               <img class="avatar" src="/assets/images/avatar/@game.getGame().getMarvin().getAvatar().getImageHead()" alt="@Messages("jeopardy.player")-Avatar @game.getGame().getMarvin().getName()" />
               <table>
                  <tr>
                     <th class="accessibility">@Messages("jeopardy.playerName")</th>
                     <td class="playername">@game.getGame().getMarvin().getName()</td>
                  </tr>
                  <tr>
                     <th class="accessibility">@Messages("jeopardy.playerPoints")</th>
                     <td class="playerpoints">@game.getGame().getMarvinPlayer().getProfit() €</td>
                  </tr>
               </table>
            </section>
            <p id="round">@Messages("jeopardy.questions"): @game.getGame().getHumanPlayer().getAnsweredQuestions().size() / 10</p>
         </section>

         <!-- Question -->
         <section id="question-selection" aria-labelledby="questionheading">
            <h2 id="questionheading" class="black accessibility">Jeopardy</h2>
            @if(game.getGame().getMarvinPlayer().getLatestProfitChange() != null){
	            if(game.getGame().getMarvinPlayer().getLatestProfitChange()<0){
	            	<p class="user-info positive-change">Messages("jeopardy.playerCorrectAnswer") + game.getGame().getHumanPlayer().getLatestProfitChange() €</p>
	            }else{
	            	<p class="user-info negative-change">Messages("jeopardy.playerWrongAnswer") game.getGame().getHumanPlayer().getLatestProfitChange() €</p>
	            }
            }
            @if(game.getGame().getMarvinPlayer().getLatestProfitChange() != null){
	            if(game.getGame().getMarvinPlayer().getLatestProfitChange()>0){
	            	<p class="user-info positive-change">Messages("jeopardy.opponentCorrectAnswer") + game.getGame().getMarvinPlayer().getLatestProfitChange() €</p>
	            }else{
	            	<p class="user-info negative-change">Messages("jeopardy.opponentWrongAnswer") game.getGame().getMarvinPlayer().getLatestProfitChange() €</p>
	            }
            }
            @if(game.getGame().getMarvinPlayer().getChosenQuestion() != null){
            <p class="user-info">@game.getGame().getMarvin().getName() @Messages("jeopardy.chose") @game.getGame().getMarvinPlayer().getChosenQuestion().getCategory().getName() @Messages("jeopardy.for") € +1000 @Messages("jeopardy.gewahlt").</p>
            }
              @form(routes.Application.submitJeopardy()) {
               <fieldset>
               <legend class="accessibility">@Messages("jeopardy.questionSelection")</legend>
               <section class="questioncategory" aria-labelledby="tvheading">
                  <h3 id="tvheading" class="tile category-title"><span class="accessibility">@Messages("jeopardy.category"): </span>@game.getGame().getCategories().get(0).getName()</h3>
                  <ol class="category_questions">
                  @for(q <- game.getGame().getCategories().get(0).getQuestions()){
                  	<li><input name="question_selection" id="question_@q.getId()" value="@q.getId()" type="radio" @if(game.getGame().hasBeenChosen(q)){disabled="disabled"} /><label class="tile clickable" for="question_@q.getId()">€ @q.getValue()</label></li>
                  }
                  </ol>
               </section>
               <section class="questioncategory" aria-labelledby="ssdheading">
                  <h3 id="ssdheading" class="tile category-title"><span class="accessibility">@Messages("jeopardy.category"): </span>@game.getGame().getCategories().get(1).getName()</h3>
                  <ol class="category_questions">
                  @for(q <- game.getGame().getCategories().get(1).getQuestions()){
                  	<li><input name="question_selection" id="question_@q.getId()" value="@q.getId()" type="radio" @if(game.getGame().hasBeenChosen(q)){disabled="disabled"} /><label class="tile clickable" for="question_@q.getId()">€ @q.getValue()</label></li>
                  }
                  </ol>
               </section>
               <section class="questioncategory" aria-labelledby="webheading">
                  <h3 id="webheading" class="tile category-title"><span class="accessibility">@Messages("jeopardy.category"): </span>@game.getGame().getCategories().get(2).getName()</h3>
                  <ol class="category_questions">
                   @for(q <- game.getGame().getCategories().get(2).getQuestions()){
                  	<li><input name="question_selection" id="question_@q.getId()" value="@q.getId()" type="radio" @if(game.getGame().hasBeenChosen(q)){disabled="disabled"} /><label class="tile clickable" for="question_@q.getId()">€ @q.getValue()</label></li>
                  }
                  </ol>
               </section>
               <section class="questioncategory" aria-labelledby="sportheading">
                  <h3 id="sportheading" class="tile category-title"><span class="accessibility">@Messages("jeopardy.category"): </span>@game.getGame().getCategories().get(3).getName()</h3>
                  <ol class="category_questions">
				  @for(q <- game.getGame().getCategories().get(3).getQuestions()){
                  	<li><input name="question_selection" id="question_@q.getId()" value="@q.getId()" type="radio" @if(game.getGame().hasBeenChosen(q)){disabled="disabled"} /><label class="tile clickable" for="question_@q.getId()">€ @q.getValue()</label></li>
                  }
                  </ol>
               </section>
               <section class="questioncategory" aria-labelledby="tuwienheading">
                  <h3 id="tuwienheading" class="tile category-title"><span class="accessibility">@Messages("jeopardy.category"): </span>@game.getGame().getCategories().get(4).getName()</h3>
                  <ol class="category_questions">
				  @for(q <- game.getGame().getCategories().get(4).getQuestions()){
                  	<li><input name="question_selection" id="question_@q.getId()" value="@q.getId()" type="radio" @if(game.getGame().hasBeenChosen(q)){disabled="disabled"} /><label class="tile clickable" for="question_@q.getId()">€ @q.getValue()</label></li>
                  }
                  </ol>
               </section> 
               </fieldset>               
               <input class="greenlink formlink clickable" name="question_submit" id="next" type="submit" value="@Messages("jeopardy.choose")" accesskey="s" />
            }
         </section>
         
         <section id="lastgame" aria-labelledby="lastgameheading">
            <h2 id="lastgameheading" class="accessibility">@Messages("jeopardy.lastGame")info</h2>
            <p>@Messages("jeopardy.lastGame"): @Messages("jeopardy.never")</p>
         </section>
		</div>
		
      <!-- footer -->
      <footer role="contentinfo">© 2015 BIG Jeopardy!</footer>
	  
	  <script type="text/javascript">
            //<![CDATA[
            
            // initialize time
            $(document).ready(function() {
                // set last game
                if(supportsLocalStorage()) {
	                var lastGameMillis = parseInt(localStorage['lastGame'])
	                if(!isNaN(parseInt(localStorage['lastGame']))){
	                    var lastGame = new Date(lastGameMillis);
	                	$("#lastgame p").replaceWith('<p>@Messages("jeopardy.lastGame"): <time datetime="'
	                			+ lastGame.toUTCString()
	                			+ '">'
	                			+ lastGame.toLocaleString()
	                			+ '</time></p>')
	                }
            	}
            });            
            //]]>
        </script>
    </body>
</html>
