@(game : models.Game)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Jeopardy! - Gewinnanzeige</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/screen.css")" />
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
    </head>
    <body id="winner-page">
      <a class="accessibility" href="#winner">@Messages("winner.jumpToWinnerPage")</a>
      <!-- Header -->
      <header role="banner" aria-labelledby="bannerheading">
         <h1 id="bannerheading">
            <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
         </h1>
      </header>
      
      <!-- Navigation -->
      @navigation(true)
      
      <!-- Content -->
      <div role="main">
         <section id="gameinfo" aria-labelledby="winnerinfoheading">
            <h2 id="winnerinfoheading" class="accessibility">@Messages("winner.winnerInformation")</h2>
            @changes(game)
            <section class="playerinfo leader" aria-labelledby="winnerannouncement">
               <h3 id="winnerannouncement">@Messages("jeopardy.playerName"): @game.getGame().getWinner().getUser().getAvatar().getName()</h3>
               <img class="avatar" src="/assets/images/avatar/@game.getGame().getWinner().getUser().getAvatar().getImageHead()" alt="@Messages("jeopardy.player")-Avatar @game.getGame().getWinner().getUser().getAvatar().getName()" />
               <table>
                  <tr>
                     <th class="accessibility">@Messages("winner.winner")</th>
                     <td class="playername">@game.getGame().getWinner().getUser().getAvatar().getName()</td>
                  </tr>
                  <tr>
                     <th class="accessibility">@Messages("jeopardy.playerPoints")</th>
                     <td class="playerpoints">€ @game.getGame().getWinner().getProfit()</td>
                  </tr>
               </table>
            </section>
            <section class="playerinfo" aria-labelledby="loserheading">
               <h3 id="loserheading" class="accessibility">@Messages("winner.loser"): @game.getGame().getLoser().getUser().getAvatar().getName()</h3>
               <img class="avatar" src="/assets/images/avatar/@game.getGame().getLoser().getUser().getAvatar().getImageHead()" alt="@Messages("jeopardy.player")-Avatar @game.getGame().getLoser().getUser().getAvatar().getName()" />
               <table>
                  <tr>
                     <th class="accessibility">@Messages("jeopardy.playerName")</th>
                     <td class="playername">@game.getGame().getLoser().getUser().getAvatar().getName()</td>
                  </tr>
                  <tr>
                     <th class="accessibility">@Messages("jeopardy.playerPoints")</th>
                     <td class="playerpoints">€ @game.getGame().getLoser().getProfit()</td>
                  </tr>
               </table>
            </section>
         </section>
         <section id="newgame" aria-labelledby="newgameheading">
             <h2 id="newgameheading" class="accessibility">@Messages("winner.newGame")</h2>
         	<form action="@routes.Application.newGame()" method="post">
               	<input class="clickable orangelink contentlink" id="new_game" type="submit" name="restart" value="Neues Spiel" />
            </form>
         </section>
      </div>
        <!-- footer -->
        <footer role="contentinfo">© 2015 BIG Jeopardy</footer>  
		<script type="text/javascript">
        //<![CDATA[
           $(document).ready(function(){
         	   if(supportsLocalStorage()){
         		   localStorage["lastGame"] = new Date().getTime();
         	   }
           });
        //]]>
        </script>  
    </body>
</html>
