.site-header{
    background-color: #324d89;
}

h1{
    background-color: #324d89;
}

.logo{
    
}

h2{
display: inline;

}

.abmelden{
display: inline;
}

.navigation{
    display:inline;
    background: blue;
}

footer{
text-align: center;
}