/*
-- Basic Reset
*/

* {margin: 0; padding: 0;}




.site-header{
    background-color: #324d89;
    display: block;
}

h1{
    font-size: large;
    padding-top:10px;
    padding-left: 20px;
    font-family: Arial;
    color: white;
    display: inline-block;

}

.logo{
    float:left;
    padding:5px;
}

p{
}

.anmelden{
    display: inline-block;
    width: 100px;
    height: 30px;
    float:right;
    border:thin;
    border-radius: 1px;
    background: #f07200;
    text-align: center;
    color: white;

}



footer{
text-align: center;
}

/*  clearfix */

.group:before, .group:after {
    content: " ";
    display:table;
}

.group:after{
    clear:both;
}